#root {
  margin: 0 auto;
}
.loader {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
